  <ng-container *ngIf="this.animate">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <ng-container *ngIf="this.templateData$ | async as templateData">
    <ng-container *ngIf="templateData.error">
      <div class="alert-danger">
        <h3>An error occurred!</h3>
        <p> {{ templateData.error.errorMessage }}</p>
      </div>
    </ng-container>

    <ng-container *ngIf="templateData.data" >
      <mat-table [dataSource]="templateData.data" id="gebruikerstabelId">
        <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row;
                        let even = even;
                        columns: this.displayedColumns;
                    " [ngClass]="{gray: even}"></tr>
        <ng-container matColumnDef="afdeling">
          <th id="afdeling" mat-header-cell *matHeaderCellDef>Afdeling</th>
          <td mat-cell *matCellDef="let gebruiker">{{gebruiker.afdeling}}</td>
        </ng-container>
        <ng-container matColumnDef="naam">
          <th id="naam" mat-header-cell *matHeaderCellDef>Naam</th>
          <td mat-cell *matCellDef="let gebruiker">{{gebruiker.naam}}</td>
        </ng-container>
        <ng-container matColumnDef="achternaam">
          <th id="achternaam" mat-header-cell *matHeaderCellDef>Achternaam</th>
          <td mat-cell *matCellDef="let gebruiker">{{gebruiker.achternaam }}</td>
        </ng-container>
        <ng-container matColumnDef="voornaam">
          <th id="voornaam" mat-header-cell *matHeaderCellDef>Voornaam</th>
          <td mat-cell *matCellDef="let gebruiker">{{gebruiker.voornaam }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th id="email" mat-header-cell *matHeaderCellDef>E-mail</th>
          <td mat-cell *matCellDef="let gebruiker">{{gebruiker.email }}</td>
        </ng-container>
        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Bekijk details</th>
          <td mat-cell *matCellDef="let gebruiker">
            <a [routerLink]="['/gebruikers-administratie/view', gebruiker.userId]">
              <mat-icon>
                visibility
              </mat-icon>
            </a>
          </td>
          <!-- <td mat-footer-cell *matFooterCellDef></td> -->
        </ng-container>
      </mat-table>
    </ng-container>
  </ng-container>

